h1{
    color: aliceblue;
    text-align: center;
    display: flex;
    justify-content: center;
   
}


.button{
    height: 5vh;
    width: 30vh;
    border: 1px solid grey ;
    text-align: center;
    margin: 7vh auto;
    display: flex;
    justify-content: center; 
   align-items: center; 
   background-color: cadetblue;  
   padding: 20px;
}

body{
    background-color: black;
   
    display: block; 
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; 
}